In [2]:
import yfinance as yf
import pandas as pd
import numpy as np


import xlsxwriter

In [3]:
ticker_data = yf.download('AAPL  GOOG', period = '1y')['Close']
df = pd.DataFrame(ticker_data)
df

[*********************100%***********************]  2 of 2 completed

                  AAPL         GOOG
Date
2019-09-30   55.992500  1219.000000
2019-10-01   56.147499  1205.099976
2019-10-02   54.740002  1176.630005
2019-10-03   55.205002  1187.829956
2019-10-04   56.752499  1209.000000
...                ...          ...
2020-09-22  111.809998  1465.459961
2020-09-23  107.120003  1415.209961
2020-09-24  108.220001  1428.290039
2020-09-25  112.279999  1444.959961
2020-09-28  114.684998  1465.709961

[252 rows x 2 columns]

In [9]:
writer = pd.ExcelWriter('ticker_graph.xlsx', engine ='xlsxwriter')

df.to_excel(writer, sheet_name='FINAL VALUES', index=True)

workbook = writer.book
worksheet = writer.sheets['FINAL VALUES']

chart = workbook.add_chart({'type': 'line'})

ending = len(df)+2
chart.add_series({
    'name':       "='FINAL VALUES'!$B$1",
    'categories': "='FINAL VALUES'!$A$2:A$"+ str(ending),
    'values': "='FINAL VALUES'!$B$2:$B$"+ str(ending),
    'line': {'width': 1.75,},
#'marker': {'type': 'circle'},
#'data_labels': {'value': True},
})

chart.set_title ({'name': 'Line Plot Test'})
chart.set_x_axis({'name': 'date'})
chart.set_y_axis({'name': 'closing price'})

worksheet.insert_chart('D7', chart)

writer.save()